.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Navbar ----------------------------------------
*/

.brand{

margin-left: 5vw;

}

.navitems{

  margin-right: 3vw;
  margin-left: 4vw;
}

.links{
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.brewnavbar{
  background-color: #c2877b;
  color: white;
}

.nav-color{ 
  overflow: auto;
  background-color: #631200
}

.navLinks {
  color: white;
  font-size: xx-large;
  
}

.brewband{

  color: #61dafb;
}


.Background {
  background-image: url(./images/mainpic.jpg);

  height: 90vh; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  } 

.home-text {
  font-size: 50px;
  padding-top: 30vh;

  color: white;
}


.home-button{
  width: 5vw;
}


/* footer ---------------------------------*/

.footer {
  position: fixed;
  height: 5vh;
  background-color: red;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;




  background-color: #631200;
  align-items: center;
  color: white;
  text-align: center;
}

.innerfooter{
padding: 1vh;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Menu Page  --------------------------------------------- */

.menuheader{
  margin-top: 4vh;
  margin-bottom: 4vh;
}


.tablecont{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;

}


::-webkit-scrollbar {
  width: 15px;
  background-color: #21242b;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.add-coffee-form{
padding-top: 50px
}

.add-form-format{
  border: 1px solid #631200;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(122, 9, 9, 0.06);
  margin:5px 0;
  padding:5px;
  width:250px;

}

.add-form-format:hover {
  background-color: #fafafa;
}